@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/flexes";
@import "styles/text";

.supportContainer {
  position: relative;
}
.supportItem {
  padding: 0.6rem;
  border-bottom: 0.2rem solid $black;
  @include flexRowCenterCenter;
  cursor: pointer;
  h1 {
    font-family: $timesRoman;
    font-size: 1.8rem;
    color: $black;
    font-weight: 700;
    width: 40rem;
  }
  img {
    width: 1rem;
    height: 1rem;
  }
}

.listContainer {
  @include flexColumnStartCenter;
  & p {
    @include textGroupMd;
    width: 70rem;
    @include tablet {
      width: 90%;
    }
  }
  & a {
    @include textGroupMd;
    color: $strongBlue;
    text-decoration: underline;
    margin: 0 1rem;
  }
}
.listTitleContainer {
  @include flexRowStartCenter;
  gap: 1rem;
}

.downArrow {
  transform: rotateZ(90deg);
  transition: 0.3s ease-in-out;
}

@include tablet {
  .supportItem {
    h1 {
      width: 40rem;
    }
  }
}

@include mobile {
  .supportItem {
    h1 {
      width: 25rem;
    }
  }
}
