@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/flexes";
@import "styles/text";
@import "styles/buttons";
@import "styles/reuseables";

@mixin commonHeading {
  font-weight: 700;
  font-family: $timesRoman;
  color: $black;
  text-transform: uppercase;
}

.productDetailHeader {
  background-color: $black;
  height: 13rem;
  border-bottom: 0.1rem solid $white;
  @include flexRowStartCenter;
}

.productLogoBox {
  width: 11rem;
  height: 13rem;
  border-right: 1px solid $white;
  border-left: none;
  @include flexColumnCenterCenter;
  @include noteBook {
    display: none;
  }
}

.productHeading {
  @include flexRowStartCenter;
  width: 100%;
  gap: 20%;
  @include noteBook {
    @include flexRowCenterCenter;
  }
  @include mobile {
    gap: 1rem;
  }
  h1 {
    font-size: 5.55vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-family: $timesRoman;
    margin-left: 5rem;
  }
  h2 {
    @include textGroupLg;
    color: $white;
  }
}

.productInfoWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $black;
  height: 7.6rem;
  color: $white;
}
.productInfoContainer {
  @include flexRowBetweenCenter;
  gap: 2rem;
  padding: 0 4rem;
  &:nth-of-type(1) {
    border-right: 1px solid $white;
  }
  @include noteBook {
    padding: 0 2rem;
  }
  @include tablet {
    padding: 0 1rem;
    @include flexRowCenterCenter;
  }
  & button {
    @include blueBtn;
  }
  & h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: $white;
    font-size: 18px;
    line-height: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.06px;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: $timesRoman;
    & .nextSale {
      @include noteBook {
        display: none;
      }
    }
    @include noteBook {
      font-size: 14px;
    }
    @include tablet {
      display: none;
      display: none;
    }
  }
  & a {
    margin-right: 0.8rem;
    margin-bottom: 0;
    padding-right: 0.9rem;
    font-family: $interSans;
    color: $white;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.06px;
    text-align: center;
    @include noteBook {
      font-size: 14px;
    }
  }
}
.influencerContainer {
  @include flexRowStartCenter;
  gap: 1rem;
  & img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 0.8rem;
    @include mobile {
      display: none;
    }
  }
  @include mobile {
    @include flexRowCenterCenter;
    gap: 0;
  }
}

@include desktop {
  .productDetailHeader {
    h1 {
      font-size: 10rem;
    }
  }
}
@include noteBook {
  .productDetailHeader {
    justify-content: center;
  }
}
@include tablet {
  .productDetailHeader {
    h1 {
      font-size: 3rem;
      margin: 0 1rem;
    }
  }
}
