@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/flexes";
@import "styles/text";

.brandDetailWrapper {
  @include flexRowCenterCenter;
  background-color: $white;
}
.brandDetailContainer {
  @include flexColumnStartStart;
  width: 96rem;
  font-size: 2rem;
  @include mobile {
    width: 100%;
    gap: 1rem;
  }
  @include noteBook {
    h1 {
      margin-left: 1rem;
    }
  }
}

.brandImgContainer {
  width: 100%;
  height: 64rem;
  margin-top: 8rem;
  @include mobile {
    width: 100%;
    height: 100%;
  }
}
.brandDateContainer {
  @include flexRowBetweenCenter;
  width: 100%;
  margin-top: 2rem;
  & p {
    margin-top: 0;
    @include mediumText;
    color: $black;
    text-transform: uppercase;
    font-size: bold;
    @include noteBook {
      margin: 0 2rem 3rem 2rem;
    }
  }
}

.mainHeading {
  @include textGroupExtraLg;
  color: $black;
  line-height: 6rem;
  @include noteBook {
    margin: 0 2rem 3rem 2rem;
  }
}

.authorCardWrapper {
  @include flexRowCenterCenter;
  margin-bottom: 5rem;
  margin-top: 5rem;
  align-self: center;
}
