@import "../../styles/colors.scss";
@import "../../styles/breakpoints";

.viewAllContainer {
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 50%;
  background-color: $white;
  padding: 1rem;
  border: 1px solid $black;
  position: sticky;
  z-index: 1000;
  position: -webkit-sticky;
  top: 84vh;
}
.insideCircle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: $white;
  border: 1px solid $black;
  padding: 1rem;
  h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: $timesRoman;
    text-transform: uppercase;
  }
}
.viewAllWrapper {
  position: absolute;
  top: 0;
  right: 3.2rem;
  bottom: 0;
  padding: 2.4rem 0;
  left: auto;
}

@include tablet {
  .viewAllContainer {
    display: none;
  }
}
