@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/flexes";
@import "styles/text";
@import "styles/reuseables";

@mixin articleDetailMobileText {
  @include noteBook {
    margin: 0 2rem 3rem 2rem;
  }
}

.articleDetailWrapper {
  @include flexRowCenterCenter;
  background-color: $white;
}
.articleDetailContainer {
  @include flexColumnStartStart;
  width: 96rem;
  font-size: 2rem;
  @include mobile {
    width: 100%;
    gap: 1rem;
  }
  @include noteBook {
    h1 {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}

.mainHeading {
  @include textGroupExtraLg;
  color: $black;
  line-height: 6rem;
  @include articleDetailMobileText;
}

.authorCardWrapper {
  @include flexRowCenterCenter;
  margin-bottom: 5rem;
  align-self: center;
  margin-top: 5rem;
}
