@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/flexes";
@import "styles/text";

@mixin articleDetailMobileText {
  @include noteBook {
    margin: 0 2rem 3rem 2rem;
  }
}

.articleDetailWrapper {
  @include flexRowCenterCenter;
  background-color: $white;
}
.articleDetailContainer {
  @include flexColumnStartStart;
  width: 96rem;
  font-size: 2rem;
  @include mobile {
    width: 100%;
    gap: 1rem;
  }
}
.paraLink {
  color: $strongBlue;
}

.articleImgContainer {
  width: 100%;
  height: 64rem;
  margin-top: 8rem;
  @include mobile {
    width: 100%;
    height: 100%;
  }
}

.articleDetailTagWrapper {
  @include articleDetailMobileText;
}
.articleDateContainer {
  @include flexRowBetweenCenter;
  width: 100%;
  margin-top: 2rem;
  & h2 {
    margin-top: 0;
    @include mediumText;
    color: $black;
    text-transform: uppercase;
    @include articleDetailMobileText;
  }
}
.mainHeading {
  @include textGroupExtraLg;
  color: $black;
  line-height: 6rem;
  @include articleDetailMobileText;
}
.paraHeading {
  @include textGroupLg;
  font-family: $interSans;
  color: $black;

  @include noteBook {
    margin: 2rem;
  }
}
.articleText {
  @include textGroupMd;
  color: $black;
  font-family: $interSans;
  font-weight: 200;
  @include noteBook {
    margin: 0 2rem;
  }
}

.autherCardWrapper {
  @include flexRowCenterCenter;
  margin-bottom: 5rem;
  align-self: center;
}
