@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/flexes";
@import "styles/text";
@import "styles/reuseables";

@mixin articleDetailMobileText {
  @include noteBook {
    margin: 0 2rem 3rem 2rem;
  }
}

.articleDetailWrapper {
  @include flexRowCenterCenter;
  background-color: $white;
}
.articleDetailContainer {
  @include flexColumnStartStart;
  width: 96rem;
  font-size: 2rem;
  @include mobile {
    width: 100%;
    gap: 1rem;
  }
}
.paraLink {
  color: $strongBlue;
}

.mainHeading {
  @include textGroupExtraLg;
  color: $black;
  line-height: 6rem;
  @include articleDetailMobileText;
}
.paraHeading {
  @include textGroupLg;
  font-family: $interSans;
  color: $black;

  @include noteBook {
    margin: 2rem;
  }
}
.articleText {
  @include textGroupMd;
  color: $black;
  font-family: $interSans;
  font-weight: 200;
  @include noteBook {
    margin: 0 2rem;
  }
}

.autherCardWrapper {
  @include flexRowCenterCenter;
  margin-bottom: 5rem;
  align-self: center;
}
