@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/breakpoints";
@import "styles/flexes";

.footerLinksContainer {
  padding: 2rem 4rem;
  background-color: $green;
  gap: 2rem;
  border-bottom: 0.2rem solid $black;
  @include flexRowCenterCenter;
}
.footerLink {
  font-size: 1.4rem;
  font-weight: 800;
  font-family: $timesRoman;
  text-transform: uppercase;
  color: $black;
}
.footerLink:hover {
  text-decoration: underline;
}

.footerSocialContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 0.1rem solid $black;
  & a {
    padding: 1.5rem;
  }
}

.copyright {
  padding: 2rem;
  background-color: $black;
  @include flexRowCenterCenter;
  & p {
    margin: 0;
    color: $white;
    font-family: $timesRoman;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 800;
  }
}

@include tablet {
  .footerLinksContainer {
    flex-wrap: wrap;
  }
  .footerLink {
    font-size: 1.2rem;
  }
}

@include mobile {
  .footerLinksContainer {
    flex-direction: column;
    padding: 2rem;
  }
}
