@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/text";
@import "styles/reuseables";
@import "styles/flexes";

.articleItemTagWrapper {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.dateContainer {
  @include flexRowBetweenCenter;
  margin-bottom: 2rem;
}
.articleItemContainer {
  display: grid;
  grid-template-columns: calc(100% - 47rem) 47rem;
  grid-auto-rows: 1fr;
  border-bottom: 0.2rem solid $black;
}
.articleItemDetail {
  @include flexColumnBetweenStart;
  padding: 2rem 4rem;
  border-right: 0.1rem solid $black;
  h1 {
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    font-family: $timesRoman;
    font-size: 1.8rem;
  }
  h2 {
    @include textGroupExtraLg;
    margin-top: 0.2rem;
    margin-bottom: 0.25rem;
  }
  p {
    @include textGroupMd;
    margin-top: 1.6rem;
    color: $black;
  }
}
.articleItemImgContainer {
  @include articleImg;
}

@include noteBook {
  .homeBlogItemContainer {
    grid-template-columns: calc(100% - 30rem) 30rem;
    border-bottom: 0.1rem solid $black;
  }
  .articleItemDetail {
    padding: 1rem 2rem;
  }
}

@include tablet {
  .articleItemContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }
  .articleItemImgContainer {
    img {
      height: 100%;
      position: relative;
    }
  }
  .articleItemDetail {
    h2 {
      line-height: 2.5rem;
    }
    h1 {
      font-size: 1.2rem;
    }
  }
}
@include mobile {
  .articleItemTagWrapper {
    margin-top: 3rem;
  }
}

.greenBg {
  background-color: $green;
}
.blueBg {
  background-color: $lightBlue;
}
