@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/flexes";
@import "styles/text";

.articlesContainer {
  position: relative;
}

.noArticleContainer {
  @include flexColumnCenterCenter;
  min-height: 48rem;
  background-color: $white;
  & h1 {
    @include textGroupMd;
    color: $black;
  }
}
