@import "styles/colors.scss";
@import "styles/flexes";
@import "styles/breakpoints";

.socialIconItemContainer {
  background-color: $yellow;
  min-height: 3.8rem;
  min-width: 4rem;
  border-right: 0.1rem solid $black;
  @include flexColumnCenterCenter;
  &:hover {
    cursor: pointer;
    background-color: $black;
    svg {
      path {
        fill: $white;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}
