@import "../../styles/colors.scss";
@import "../../styles/breakpoints";
@import "../../styles/text";
@import "../../styles/flexes";

.breadcrumbsContainer {
  background-color: $darkPink;
  padding: 1.6rem 2rem;
  @include flexRowStartCenter;
  flex-wrap: wrap;
  gap: 1rem;
  & span {
    color: $black;
  }
  & a {
    @include extraSmallText;
    text-transform: uppercase;
    font-weight: 800;
    color: $black;
  }
  & :hover {
    text-decoration: underline;
  }
}
