@import "../../styles/colors.scss";
@import "../../styles/breakpoints";
@import "../../styles/flexes";
@import "../../styles/text";

@mixin articleDetailMobileText {
  @include noteBook {
    margin: 0 2rem 3rem 2rem;
  }
}

.blogDetailWrapper {
  @include flexRowCenterCenter;
  background-color: $white;
}
.blogDetailContainer {
  @include flexColumnStartStart;
  width: 960px;
  font-size: 2rem;
  @include mobile {
    width: 100%;
    gap: 1rem;
  }
}
.paraLink {
  color: $strongBlue;
}

.blogImgContainer {
  width: 100%;
  height: 640px;
  margin-top: 8rem;
  @include mobile {
    width: 100%;
    height: 100%;
  }
}

.articleDetailBlogWrapper {
  @include articleDetailMobileText;
}
.blogDateContainer {
  @include flexRowBetweenCenter;
  width: 100%;

  & h1 {
    margin-top: 0;
    @include mediumText;
    color: $black;
    text-transform: uppercase;
    @include articleDetailMobileText;
  }
}
.mainHeading {
  @include textGroupExtraLg;
  color: $black;
  line-height: 6rem;
  @include articleDetailMobileText;
}
.paraHeading {
  @include textGroupLg;
  font-family: $interSans;
  color: $black;
  @include noteBook {
    margin: 2rem;
  }
}
.blogText {
  @include textGroupMd;
  color: $black;
  font-family: $interSans;
  font-weight: 200;
  @include noteBook {
    margin: 0 2rem;
  }
}

.autherCardWrapper {
  @include flexRowCenterCenter;
  margin-bottom: 5rem;
  align-self: center;
}
