@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/text";
@import "styles/reuseables";
@import "styles/flexes";

.notFoundMessageContainer {
  @include flexColumnCenterCenter;
  min-height: 48rem;
  & p {
    @include textGroupMd;
    color: $white;
    font-family: $timesRoman;
  }
}
