@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/flexes";

.logoBox {
  width: 10rem;
  height: 10rem;
  border-left: 1px solid $white;
  @include flexColumnCenterCenter;
  &:nth-child(1) {
    width: 10rem;
    height: 10rem;
    border-right: 1px solid $white;
    border-left: none;
  }
}
.headerContainer {
  background-color: $black;
  height: 10rem;
  border-bottom: 0.1rem solid $white;
  @include flexRowBetweenCenter;
  @include mobile {
    height: auto;
    min-height: 10rem;
  }
  h1 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-family: $timesRoman;
    padding: 0;
    margin: 0;
    @include mobile {
      font-size: 3.8rem !important;
      line-height: 3.8rem;
      margin: 0 1rem;
    }
  }
}

@include desktop {
  .headerContainer {
    h1 {
      font-size: 10rem;
    }
  }
}

@include noteBook {
  .logoBox {
    display: none;
  }
  .headerContainer {
    justify-content: center;
  }
}
