@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/flexes";
@import "styles/text";

@mixin articleImg {
  position: relative;
  img {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include tablet {
      height: 100%;
      position: relative;
    }
  }
}

@mixin tagLink {
  display: inline-block;
  border-radius: 2rem;
  padding: 0.7rem 1.5rem;
  background-color: $black;
  font-weight: 800;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $white;
  border-radius: 2rem;
  font-family: $timesRoman;
}
