@import "/styles/breakpoints";
@import "/styles/colors";
@import "/styles/flexes";

// Texts

@mixin extraSmallText {
  font-size: 1.2rem;
  font-family: $timesRoman;
}
@mixin smallText {
  font-size: 1.4rem;
  font-family: $timesRoman;
}
@mixin mediumText {
  font-size: 1.8rem;
  font-family: $timesRoman;
}
@mixin largeText {
  font-size: 2rem;
  font-family: $workSans;
}
@mixin mediumHeading {
  font-size: 3.2rem;
  font-family: $timesRoman;
}
@mixin largeHeading {
  font-size: 7rem;
  font-family: $timesRoman;
}

@mixin textGroupBig {
  font-size: 8rem;
  font-family: $timesRoman;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 6.4rem;
  letter-spacing: -0.6px;
  @include noteBook {
    font-size: 5rem;
  }
  @include tablet {
    font-size: 3rem;
  }
}

@mixin textGroupExtraLg {
  text-transform: uppercase;
  color: $black;
  font-family: $timesRoman;
  font-size: 6rem;
  line-height: 5rem;
  font-weight: 800;
  @include desktop {
    font-size: 10rem;
    line-height: 10rem;
  }
  @include noteBook {
    font-size: 3rem;
    line-height: 3rem;
  }
  @include mobile {
    font-size: 2.5rem;
  }
}
@mixin textGroupLg {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  font-family: $timesRoman;
  @include desktop {
    font-size: 5rem;
    line-height: 7rem;
  }
  @include noteBook {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@mixin textGroupMd {
  font-family: $timesRoman;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  @include desktop {
    font-weight: 300;
    font-size: 3rem;
    line-height: 5rem;
  }
  @include noteBook {
    font-size: 1.6rem;
    line-height: 2.9rem;
  }
}
