@import "styles/flexes";
@import "styles/text";

.articleListItemContainer {
  margin: 0.5rem 0;
  & li {
    @include textGroupMd;
    font-family: $interSans;
    color: $black;
    font-weight: 200;
  }
}
